{% extends "base.html" %}
{% block content %}
<h2>Order Medicine</h2>
<form method="POST" action="/order">
    Name: <input type="text" name="name" required><br><br>
    Address: <textarea name="address" required></textarea><br><br>
    Medicine Name: <input type="text" name="medicine" required><br><br>
    <button type="submit">Place Direct Order</button>
</form>

<h3>Or Add to Cart</h3>
<form method="POST" action="/add_to_cart">
    Medicine Name: <input type="text" name="medicine" required>
    <button type="submit">Add to Cart</button>
</form>
{% endblock %}
