<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Medicine</title>
</head>
<body><nav> 
    
    <a href="/contact">Contact Us</a>
    <a href="/">Home</a> |
    <a href="/order">Order Medicine</a> |
    <a href="/cart">Cart</a> |
    <a href="/checkout">Checkout</a> |
    <a href="/signout">Sign Out</a>
</nav>
    <h1>Order your Medicine</h1>
    <form method="POST">
        Name :<br><input type="text" name="name" required><br><br>
        Adress :<br><textarea name="adress" required></textarea><br><br>
        Medicine Name :<br><input type="text" name="medicine" required><br><br>
        <button type="submit">Add to Cart</button>

    </form>
    
</body>
</html>